.loading-container {
	position: relative;
}

.throbber-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	z-index: 99999;
  display: flex;
    align-items: center;
    justify-content: center;
}

// .throbber-mini{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   overflow: hidden;
//   margin: -10px 0 0 -35px;
// }
// .throbber-midi{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   overflow: hidden;
//   margin: -10px 0 0 -35px;
// }
// .throbber{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   overflow: hidden;
//   width: 70px;
//   height: 20px;
//   margin: -10px 0 0 -35px;
// }
